<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.PACOsoft.promise_betting">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" /> <!-- 현재 내 위치 가져 오기 위함 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyApplication"
        tools:targetApi="31">
        <activity
            android:name=".view.Create_Room"
            android:exported="false" />
        <activity
            android:name=".view.Coin"
            android:theme="@style/Theme.AppCompat.Dialog" />
        <activity
            android:name=".view.Search_History"
            android:exported="false" />
        <activity
            android:name=".view.Search_Friend"
            android:exported="false" />
        <activity android:name=".view.signup_page" />
        <activity
            android:name=".view.Invite_Friend"
            android:exported="false" />
        <activity
            android:name=".view.Home"
            android:exported="false" />
        <activity
            android:name=".view.Option"
            android:exported="false" />
        <activity
            android:name=".view.Select_Profile"
            android:theme="@style/Theme.AppCompat.Dialog" />
        <activity
            android:name=".view.Map"
            android:exported="false" />
        <activity
            android:name=".view.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.Search_Location"
            android:exported="false" />

        <meta-data
            android:name="com.naver.maps.map.CLIENT_ID"
            android:value="rjaqcdyuc1" /> <!-- Sample AdMob app ID: ca-app-pub-3940256099942544~3347511713 -->
        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-3940256099942544~3347511713" />
    </application>

</manifest>